//评论区
.vpanel .vwrap .vedit #veditor
  //background-image url("https://txy.reday.asia/images/202302172159554.gif")
  background-image url("http://cdn.reday.asia/images/202302172201036.gif")
  background-size contain
  background-repeat no-repeat
  background-position-x right
  resize: vertical

//日间模式
.light .vwarp
  border 1px dashed #ccc

.light .vpanel
  background-color: #fff

.light .valine-wrapper #valine.v .vwrap
  background: none

//夜间模式
.dark .vpanel
  border 1px dashed #fff
  background-color: #181818

.dark .valine-wrapper #valine.v .vwrap
  background: none
