//评论区
.vpanel .vwrap .vedit #veditor
  background-image url("https://txy.reday.asia/images/202302172159554.gif")
  //background-image url("http://cdn.reday.asia/images/202302172201036.gif")
  background-size contain
  background-repeat no-repeat
  background-position-x right
  resize: vertical

//日间模式
.light .vwarp
  border 1px dashed #ccc

.light .vpanel
  background-color: #fff

.light .valine-wrapper #valine.v .vwrap
  background: none

//夜间模式
.dark .vpanel
  border 1px dashed #fff
  background-color: #181818

.dark .valine-wrapper #valine.v .vwrap
  background: none

// 文章底部打赏按钮
.donation
  position relative
  text-align: center
  margin-top: 10px
  button
    width 5rem
    height 2.5rem
    border: 0
    border-radius .5rem
    color: #fff
    background-color $accentColor
    font-weight: bold
    opacity 0.9
    transition: all .5s
    &:hover,&:focus
      opacity 1
      transform: scale(1.05)
      ~.main
        .pic
          visibility: visible
          opacity 1
          transform: translateY(-1.5rem)
  .main
    position absolute
    bottom 3rem
    left: 0
    right: 0
    pointer-events: none
    .pic
      position relative
      visibility hidden
      display: inline-block
      padding:10px 12px
      background-color rgba(#fff,.8)
      box-shadow: 0 0 10px 0 #3336
      border-radius: 1rem
      opacity 0
      transition: all .5s
      pointer-events: all
      z-index 10
      &:hover
        visibility visible
        opacity 1
        transform: translateY(-1.5rem)
      &::before
        content: ''
        position absolute
        bottom -@padding[0]
        left: 50%
        right: 50%
        filter: drop-shadow(0px 4px 4px #3336);
        transform: translateX(-50%)
        border-width: (-@bottom) (-@bottom) 0;
        border-style: solid;
        border-color: rgba(#fff,.8) transparent transparent;
      &::after
        content: ''
        display block
        position absolute
        width 100%
        height 2.5rem
      img
        width 10rem
        max-width 40vw

//链接
.social-links
  align-items center
  justify-content center


//Algolia搜索
.search-box .DocSearch.DocSearch-Button {
  cursor: text;
  width: 14rem;
  height: 2rem;
  color: #5b5b5b;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  font-size: 0.9rem;
  padding: 0 0.5rem 0 0rem;
  outline: none;
  transition: all 0.2s ease;
  background: transparent;
  background-size: 1rem;
}

.search-box .DocSearch-Button-Container {
  margin-left: 0.4rem;
}

.search-box .DocSearch-Button .DocSearch-Search-Icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 0.1rem;
}

.search-box .DocSearch-Button-Placeholder {
  font-size: 0.8rem;
}

.search-box .DocSearch-Button-Keys {
  position: absolute;
  right: 0.1rem;
}

.search-box .DocSearch-Button-Key {
  font-size: 12px;
  line-height: 20px;
}
